<body>
    <div class="background-div">
        <div class="container-fluid">
            <div class="search-bar row mt-5">
                <div class="col search-container">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><img src="assets/icons/Work.svg" alt="Job Icon"></span>
                        </div>
                        <input type="text" class="form-control search-input" placeholder="Job Title"
                            aria-label="Job Title">

                        <div class="search-divider"></div>

                        <div class="input-group-prepend">
                            <span class="input-group-text"><img src="assets/icons/Pin.svg" alt="Location Icon"></span>
                        </div>
                        <select class="custom-select search-select" id="locationDropdown">
                            <option selected>Location</option>
                        </select>

                        <div class="search-divider"></div>

                        <div class="input-group-prepend">
                            <span class="input-group-text"><img src="assets/icons/Category.svg"
                                    alt="Category Icon"></span>
                        </div>
                        <select class="custom-select search-select" id="categoriesDropdown">
                            <option selected>Categories</option>
                        </select>
                    </div>
                    <button class="d-flex search-button align-items-center">
                        <img src="assets/icons/Search.svg" alt="search" class="mr-2">
                        Search
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="section">
            <span class="h2 color-2">Job </span>
            <span class="h2 color-1 ml-2">Categories</span>
        </div>
        <div class="job-cate d-flex flex-wrap mb-5 justify-content-center">
            
            <a href="/search-result" class="job-cate-item d-flex align-items-start flex-column">
                <div class="p-2 icon-cate">
                    <img src="/assets/img/Cate/Accounting.svg" alt="Icon">
                </div>
                <div class="p-2 job-name">
                    Accounting
                </div>
                <div class="p-2 detail">
                    <span class="num">55+</span>
                    <span>Available Jobs</span>
                </div>
            </a>
            <a href="/job/alljob" class="job-cate-item d-flex align-items-start flex-column">
                <div class="p-2 icon-cate">
                    <img src="/assets/img/Cate/BA.svg" alt="Icon">
                </div>
                <div class="p-2 job-name">
                    BA
                </div>
                <div class="p-2 detail">
                    <span class="num">75+</span>
                    <span>Available Jobs</span>
                </div>
            </a>
            <a href="/job/alljob" class="job-cate-item d-flex align-items-start flex-column">
                <div class="p-2 icon-cate">
                    <img src="/assets/img/Cate/Broadcasting.svg" alt="Icon">
                </div>
                <div class="p-2 job-name">
                    Broadcasting
                </div>
                <div class="p-2 detail">
                    <span class="num">75+</span>
                    <span>Available Jobs</span>
                </div>
            </a>
            <a href="/job/alljob" class="job-cate-item d-flex align-items-start flex-column">
                <div class="p-2 icon-cate">
                    <img src="/assets/img/Cate/Design.svg" alt="Icon">
                </div>
                <div class="p-2 job-name">
                    Design
                </div>
                <div class="p-2 detail">
                    <span class="num">75+</span>
                    <span>Available Jobs</span>
                </div>
            </a>
            <a href="/job/alljob" class="job-cate-item d-flex align-items-start flex-column">
                <div class="p-2 icon-cate">
                    <img src="/assets/img/Cate/Doctor.svg" alt="Icon">
                </div>
                <div class="p-2 job-name">
                    Doctor
                </div>
                <div class="p-2 detail">
                    <span class="num">85+</span>
                    <span>Available Jobs</span>
                </div>
            </a>
            <a href="/job/alljob" class="job-cate-item d-flex align-items-start flex-column">
                <div class="p-2 icon-cate">
                    <img src="/assets/img/Cate/Engineer.svg" alt="Icon">
                </div>
                <div class="p-2 job-name">
                    Engineer
                </div>
                <div class="p-2 detail">
                    <span class="num">75+</span>
                    <span>Available Jobs</span>
                </div>
            </a>
            <a href="/job/alljob" class="job-cate-item d-flex align-items-start flex-column">
                <div class="p-2 icon-cate">
                    <img src="/assets/img/Cate/Finance.svg" alt="Icon">
                </div>
                <div class="p-2 job-name">
                    Finance
                </div>
                <div class="p-2 detail">
                    <span class="num">95+</span>
                    <span>Available Jobs</span>
                </div>
            </a>
            <a href="/job/alljob" class="job-cate-item d-flex align-items-start flex-column">
                <div class="p-2 icon-cate">
                    <img src="/assets/img/Cate/Human resource.svg" alt="Icon">
                </div>
                <div class="p-2 job-name">
                    Human Resource
                </div>
                <div class="p-2 detail">
                    <span class="num">75+</span>
                    <span>Available Jobs</span>
                </div>
            </a>
            <a href="/job/alljob" class="job-cate-item d-flex align-items-start flex-column">
                <div class="p-2 icon-cate">
                    <img src="/assets/img/Cate/IT.svg" alt="Icon">
                </div>
                <div class="p-2 job-name">
                    IT
                </div>
                <div class="p-2 detail">
                    <span class="num">75+</span>
                    <span>Available Jobs</span>
                </div>
            </a>
            <a href="/job/alljob" class="job-cate-item d-flex align-items-start flex-column">
                <div class="p-2 icon-cate">
                    <img src="/assets/img/Cate/Labor.svg" alt="Icon">
                </div>
                <div class="p-2 job-name">
                    General Labor
                </div>
                <div class="p-2 detail">
                    <span class="num">75+</span>
                    <span>Available Jobs</span>
                </div>
            </a><a href="/job/alljob" class="job-cate-item d-flex align-items-start flex-column">
                <div class="p-2 icon-cate">
                    <img src="/assets/img/Cate/Lawyer.svg" alt="Icon">
                </div>
                <div class="p-2 job-name">
                    Lawyer
                </div>
                <div class="p-2 detail">
                    <span class="num">75+</span>
                    <span>Available Jobs</span>
                </div>
            </a>
            <a href="/job/alljob" class="job-cate-item d-flex align-items-start flex-column">
                <div class="p-2 icon-cate">
                    <img src="/assets/img/Cate/Logistic.svg" alt="Icon">
                </div>
                <div class="p-2 job-name">
                    Logistic
                </div>
                <div class="p-2 detail">
                    <span class="num">75+</span>
                    <span>Available Jobs</span>
                </div>
            </a>
            <a href="/job/alljob" class="job-cate-item d-flex align-items-start flex-column">
                <div class="p-2 icon-cate">
                    <img src="/assets/img/Cate/Marketing.svg" alt="Icon">
                </div>
                <div class="p-2 job-name">
                    Marketing
                </div>
                <div class="p-2 detail">
                    <span class="num">75+</span>
                    <span>Available Jobs</span>
                </div>
            </a>
            <a href="/job/alljob" class="job-cate-item d-flex align-items-start flex-column">
                <div class="p-2 icon-cate">
                    <img src="/assets/img/Cate/Sale.svg" alt="Icon">
                </div>
                <div class="p-2 job-name">
                    Sale
                </div>
                <div class="p-2 detail">
                    <span class="num">75+</span>
                    <span>Available Jobs</span>
                </div>
            </a>
            <a href="/job/alljob" class="job-cate-item d-flex align-items-start flex-column">
                <div class="p-2 icon-cate">
                    <img src="/assets/img/Cate/Teacher.svg" alt="Icon">
                </div>
                <div class="p-2 job-name">
                    Teacher
                </div>
                <div class="p-2 detail">
                    <span class="num">75+</span>
                    <span>Available Jobs</span>
                </div>
            </a>
            <a href="/job/alljob" class="job-cate-item d-flex align-items-start flex-column">
                <div class="p-2 icon-cate">
                    <img src="/assets/img/Cate/Tourism.svg" alt="Icon">
                </div>
                <div class="p-2 job-name">
                    Tourism
                </div>
                <div class="p-2 detail">
                    <span class="num">190+</span>
                    <span>Available Jobs</span>
                </div>
            </a>
            <a href="/job/alljob" class="job-cate-item d-flex align-items-start flex-column">
                <div class="p-2 icon-cate">
                    <img src="/assets/img/Cate/Translation.svg" alt="Icon">
                </div>
                <div class="p-2 job-name">
                    Translation
                </div>
                <div class="p-2 detail">
                    <span class="num">55+</span>
                    <span>Available Jobs</span>
                </div>
            </a>
            <a href="/job/alljob" class="job-cate-item d-flex align-items-start flex-column">
                <div class="p-2 icon-cate">
                    <img src="/assets/img/Cate/Other.svg" alt="Icon">
                </div>
                <div class="p-2 job-name">
                    Other
                </div>
                <div class="p-2 detail">
                    <span class="num">125+</span>
                    <span>Available Jobs</span>
                </div>
            </a>
            
        </div>
    </div>
</body>