@import '../../../style/variables';
@import '../../../style/typography';
body{
    font-family: $font-default;
    background-color: white;
    color: $dark-teal;
    margin: 0; 
    overflow-x: hidden;
}
.color-1{
    color: $light-turtoise;
  }
  .color-2{
    color: $dark-teal;
  }
  
.background-div {
    background-image: url('/assets/img/BG2.svg');
    background-size: cover;
    margin: 0;
    background-repeat: no-repeat;
    background-position: center center;
    height: 340px;
    min-height: 300px;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Set width to full viewport width */
    max-width: 100%; /* Ensures it doesn't exceed the width of the viewport */
}
.title-bg{
    @include font-h1-extra-bold;
    background-color: $light-turtoise;
    opacity: 0.8;
    width: fit-content;
    border-radius: 10px;
    margin: auto;
    box-shadow: 0px 32px 64px -12px rgba(0, 0, 0, 0.14);
    padding: 4px 17px 0px 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.h4{
    @include font-h4-extra-bold;
    text-align: center;
}
p{
    @include font-large-medium;
    text-align: center;

}


.search-container {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 30px;
    padding: 10px;
    display: flex;
    align-items: center;
}

.search-divider {
    border-left: 2px solid $dark-teal;
    height: 30px;
    margin: 0 10px;
}

.search-input, .search-select, .input-group-text {
    background-color: transparent;
    border: none;
    box-shadow: none;
    flex-grow: 1;
    outline: none;
    color: $dark-teal;
    padding: 0 10px;
}
.search-select {
    background-color: transparent;
    border: none;
    box-shadow: none;
    flex-grow: 1;
    outline: none;
    color: $dark-teal;
    padding: 0 10px;
    -webkit-appearance: none; 
    -moz-appearance: none; 
    appearance: none; 
    background-image: none; 
    position: relative;  
}




.search-button {
    margin-left: auto;
    border-radius: 30px;
    background-color: $light-turtoise;
    color: $dark-teal;
    border: none;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: darken($light-turtoise, 10%);
    }

    &:active {
        background-color: darken($light-turtoise, 20%);
    }
}


.image{
    height: 300px;
    margin-bottom: 20px;
}
.image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}



.h6{
    @include font-h6-extra-bold;
}
.text{
    @include font-medium-normal;
}


hr {
    border: none; 
    height: 2px; 
    background-color: $dark-teal; 
    margin: 12px;
  }
 
.search-button{
    background-color: $light-turtoise;
    align-items: center;
    justify-content: center;
    color: $dark-teal;
    padding: 8px 16px;
    border-radius: 100px;
    border: 2px solid $light-turtoise;
    @include font-large-medium;

  }
  .search-button:hover{
    background-color: transparent;
    color: $dark-teal;
    border: 2px solid $light-turtoise;
  }
  .search-button img{
    width: 24px;
    height: 24px;
    margin-right: 4px;
  }
  .post-list-container {
    position: relative;
  }
  
  .slick-prev, .slick-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #ddd;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1000;
  }
  
  .slick-prev {
    left: -50px; // Adjust as needed
  }
  
  .slick-next {
    right: -50px; // Adjust as needed
  }
  
  .post-list{
    width: 1000px;
    padding: 20px;
    background-color: $light-turtoise;
    border: none;
    border-radius: 20px;
    margin-left: 32px;
    margin-right: 12px;
    margin-top: 12px;
  }
  .post-list a{
    padding: 12px;
    border-radius: 16px;
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    color: $dark-teal;
    cursor: pointer;
    margin-bottom: 10px;
  }
  

  .post-list a:hover{
    background-color: #f3f3f3;
  }
  .post-list h6{
    @include font-h6-extra-bold; 
  }
  .post-list p{
    @include font-medium-normal;
  }
  .post-list h6{
    @include font-h5-extra-bold
  }
  
 
.list-item{
    padding: 28px;
}
.ava img{
    
    margin-right: 20px;
    
}

.time{
    @include font-medium-normal;
    border-radius: 12px;
    padding: 0px 12px;
    background-color: $light-turtoise;
}
.post-list button {
    text-decoration: none;
    color: white;
    transition: all 0.2s ease-in-out; 
    padding: 10px 12px;
    border-radius: 40px;
    border: none;
    @include font-large-medium;
    color: $dark-teal;
  }
  button:hover {
    transform: translateY(-5px);
    color: white;
  }
  
.post-list button.primary {
    background-color: $light-turtoise; 
  
    &:hover {
      background-color: darken($light-turtoise, 10%); 
    }
  
    &:active {
      background-color: darken($light-turtoise, 20%); 
      transform: translateY(2px); 
    }
  }
  .post-list button.primary img{
    margin: 0px;
    margin-left: 12px;
  }
  
  
  