@import '../../../style/variables';
@import '../../../style/typography';
body{
    font-family: $font-default;
    background-color: white;
}
.w-30 {
    width: 30%;
}
.top img{
    width: 104px;
    height: 104px;
}




.form-group{
    margin-top: 10px;
    margin-bottom: 10px;
}
.forget-pw{
    text-decoration: none;
    color: black;
}
.top h1{
    @include font-h2-extra-bold;
    margin-bottom: 12px;
}
.top p{
    @include font-medium-normal;
}
.form-group label{
    @include font-medium-normal;
}
.form-check-label{
    @include font-medium-medium;
}
a{
    color: $light-turtoise;
}

button {
    text-decoration: none;
    color: white;
    transition: all 0.2s ease-in-out; 
    width: 100%;
    padding: 10px 20px;
    border-radius: 100px;
    border: none;
    @include font-large-medium;
    color: $dark-teal;
  }
button:hover {
    transform: translateY(-5px);
    color: white;
}
  
  button.primary {
    background-color: $light-turtoise; 
  
    &:hover {
      background-color: darken($light-turtoise, 10%); 
    }
  
    &:active {
      background-color: darken($light-turtoise, 20%); 
      transform: translateY(2px); 
    }
  }
  
  button.secondary {
    background-color: white; 
    border: 1px solid $dark-teal;
  
    &:hover {
      background-color: darken(white, 20%); 
      border: 1px solid darken(white, 20%);
    }
  
    &:active {
      background-color: darken(white, 50%);  
      transform: translateY(2px); 
    }
  }
