<div class="top text-center mt-5">
    <img src="assets/img/Logo/logo-01 1 (1).svg" class="custom-logo" alt="logo">
    <h1>Sign Up</h1>
    <p>Select your Account Type!</p>
  </div>
  
  <ul class="w-50 mx-auto">
    <li class="form-group mt-6">
      <button type="button" class="primary w-100" (click)="createJobSeeker()">Are you a Job Seeker? Let's find your job!</button>
    </li>
    <li class="form-group my-3">
      <button type="button" class="primary w-100" (click)="createEmployer()">Are you an Employer? Let's find your employee!</button>
    </li>
  </ul>
  